Website Lead Automation.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Lead-Form",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "aac3dbc4-206a-4ac0-b40c-ce4c8e8079b6",
      "name": "Webhook",
      "webhookId": "06e4a029-a539-4e5d-a5f5-0402dcd109c6"
    },
    {
      "parameters": {
        "sendTo": "={{ $(\"Webhook\").item.json.body.email }}",
        "subject": "Thanks for contacting us!",
        "message": "=Hi {{ $(\"Webhook\").item.json.body.name }},  Thanks for contacting us.  We received your request for {{ $(\"Webhook\").item.json.body.service }}.  We'll contact you soon.  Thank you!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "870e3026-7154-4b76-b782-e2774da5b225",
      "name": "Send a message",
      "webhookId": "1287ea43-009f-44e2-bbe9-37d34a5fb618",
      "credentials": {
        "gmailOAuth2": {
          "id": "1zQvsgwopV2QYo17",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Rz_LrrtRP34g5PDvexRyi8fD_UrjrpB7vwHt--nQAUo",
          "mode": "list",
          "cachedResultName": "Leads ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Rz_LrrtRP34g5PDvexRyi8fD_UrjrpB7vwHt--nQAUo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Rz_LrrtRP34g5PDvexRyi8fD_UrjrpB7vwHt--nQAUo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{$json.body.name}}",
            "Email": "={{$json.body.email}}",
            "Phone ": "={{$json.body.phone}}",
            "Service": "={{$json.body.service}}",
            "Date": "={{$json.body.date}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone ",
              "displayName": "Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "9c040575-f627-43b4-abcd-47060e2db616",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S0trAMvND0vWJHKf",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7882416f-1177-4266-aec7-1a2b904995a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2a491ea949a9f643a4a06a70f96b06d58e10a727cb5ec803eee3502b318b4e4"
  },
  "nodeGroups": [],
  "id": "Jewbpym8AzIdBKQv",
  "tags": []
}